<form action="/articles/<%=@article.id%>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Title: <input type="text" name="title" value="<%=@article.title%>">
  Content: <input type="text" name="content" value="<%=@article.content%>">
  <input type="submit" name="" value="Submit">
</form>
